@model IEnumerable<BRApplication.Models.MarketPost> 

<div class="PostContainer">
    <div style="width:90%; text-align:center;">
        <div>
            <input id="MarketSearch" type="text" size="40" placeholder=" Search Buy Posts/Sell Posts" />
        </div>
    </div>
    <div class="ExistingPosts">
        <div class="ChoosePost">
            <ul id="SearchResults" class="SearchResults wave">
                @Html.Partial("MarketPost_Partial", Model) 
            </ul>
        </div>
     </div>
</div>
<script type="text/javascript">
    stroll.bind('.ExistingPosts ul');

    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();

    $("#MarketSearch").keyup(function () {
        var userInputDelay = 200;

        delay(function () {
            var searchVal = $("#MarketSearch").val().trim();

            $.ajax({
                url: '@Url.Action("GetMarketPosts", "Market")',
                data: { searchString: searchVal },
                type: 'POST',
                success: function (result) {
                    $("#SearchResults").html(result);
                }
            });
        }, userInputDelay);
    });
</script>