@model List<BRApplication.Models.MarketPostModel> 

<div class="PostContainer">
    <div style="width:90%; text-align:center;">
        <form method="get" action="/search" id="search">
            <input name="q" type="text" size="40" placeholder=" Search Buy Posts/Sell Posts --------- " /><input id="btnBuy" type="submit" style="padding:8px; -webkit-border-radius: 20px;-moz-border-radius: 20px; border-radius: 20px; font-size:16px; font-weight:bold; padding-top:2px; padding-bottom:3px; width:75px;" value="Search" />
        </form>
    </div>
    <div class="ExistingPosts">
        <div class="ChoosePost">
            <ul class="SearchResults wave">
                @{
                    foreach (var m in Model) {
                           if (m.IsBuy) {
                               <li>
                                     @Html.Partial("SellPost_Partial", m)
                               </li>
                            } else {
                               <li>
                                     @Html.Partial("BuyPost_Partial", m) 
                               </li>
                           }
                    }
                }
            </ul>
        </div>
     </div>
</div>
<script type="text/javascript">
    stroll.bind('.ExistingPosts ul');
</script>