
@if (Request.IsAuthenticated && Session["AccessToken"] != null)
{

    <div id="facebook-logoff" class="fbContainer">
        Hello, @Html.ActionLink(User.Identity.Name, "ManagePosts", "Account")!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) 
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </div>
 
} else {
    <ul>
        <li> 
           
             <div id="facebook-login" class="fbContainer">
                 @Html.ActionLink("Login with Facebook", "Facebook", "Account") 
             </div>
        </li>
    </ul>
}