<style type="text/css">
  /*------------------------------------------------------------------*/
/* Facebook 
--------------------------------------------------------------------*/

    #facebook-button {
        background: #ccc url('@Url.Content("~/Content/Images/login-with-facebook.png")') no-repeat top left;
        /*padding-left: 16px;*/
        background-size:154px 29px;
        height: 29px;
        width: 154px;
        border:  none;
        cursor: pointer;
    }
    
    #facebook-logoff {
        height: 29px;
    }


</style>

@if (Request.IsAuthenticated) {
    <text>
        <div id="facebook-logoff">
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) 
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </div>
    </text>
} else {
    
    <ul>
        <li> 
            
            @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                <button id="facebook-button" type="submit" name="provider" value="facebook" title="Log in using your account"></button>
            }
        </li>
    </ul>
}