<div class="NewBook">
    <input id="Title" type="text" placeholder="Title" />
    <input id="Author" type="text" placeholder="Author" />
    <input id="Course" type="text" placeholder="Course" />
    <input id="ISBN" type="text" placeholder="ISBN" />
    <input id="Condition" type="text" placeholder="Condition" />
    <input id="BookImageURL" type="text" placeholder="Book Image URL" />
</div>
