<div class="NewBook">
    <div class="NewBookInfo">
        <div class="PostHeader">
            <img src="@Url.Content("~/Content/Images/BookStack.png")" alt="BookStack"/>&nbsp
            Add Your Book
        </div>
        <input id="Title" name="Title" class="InputGradient Info" type="text" placeholder="Title" />
        <input id="Author" name="Author" class="InputGradient Info" type="text" placeholder="Author" />
        <input id="Course" name="Course" class="InputGradient Info" type="text" placeholder="Course" />
        <input id="ISBN" name="ISBN" class="InputGradient Info" type="text" placeholder="ISBN" />
        <input id="BookImageURL" name="BookImageURL" class="InputGradient Info" type="text" placeholder="Book Image URL" />
        @*<div class="LastInput">
            <input id="BookImageURL" class="InputGradient Info" type="text" placeholder="Book Image URL" />
            <input id="SubmitButton" type="button" value="Add Book" />
        </div>*@
    </div>
</div>

@*<script type="text/javascript">
    $(".LastInput .Info").css("display", "inline-block");
</script>*@