@model IEnumerable<BRApplication.Models.MarketPost> 

@{
    var marketPostCollection = Model.OrderBy(marketPost => marketPost.Price).ThenBy(marketPost => marketPost.datePosted);
    foreach (var m in marketPostCollection) {
            if (m.IsBuy) {
                <li>
                        @Html.Partial("BuyPost_Partial", m) 
                </li>
            } else {
                <li>
                        @Html.Partial("SellPost_Partial", m)
                </li>
            }
    }
}


