@model IEnumerable<BRApplication.Models.MarketPost> 

@{
    foreach (var m in Model) {
            if (m.IsBuy) {
                <li>
                        @Html.Partial("BuyPost_Partial", m) 
                </li>
            } else {
                <li>
                        @Html.Partial("SellPost_Partial", m)
                        
                </li>
            }
    }
}


